/* variables */
:root {
  --darkGrey: hsl(234, 29%, 20%);
  --charcoalGrey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --fontSize: 16px;
  --tomato: hsl(4, 100%, 67%);
}
/* Regle HTML BODY */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--charcoalGrey);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Container principale */
.container {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 35px;
  position: relative;
}
/* Card Gauche */
.card-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 35px;
  width: 400px;
}

.card-left > * {
  margin: 0px;
}
/* Titre principale */
.title {
  font-size: 3.5em;
  color: var(--darkGrey);
  margin-bottom: 10px;
}
/* Sous titre */
.subTitle {
  font-size: var(--fontSize);
  margin-bottom: 15px;
}
/* Texte des spans */
.text {
  margin: 3px 0px;
}
/* Span */
span {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* titre de l'input */
.inputTitle {
  color: var(--darkGrey);
  font-weight: 700;
  margin-top: 30px;
}
/* Input pour l'émail */
.inputEmail {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--grey);
  font-size: var(--fontSize);
  color: black;
}

.errorInputEmail {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--tomato);
  color: var(--tomato);
  font-size: var(--fontSize);
}
/* Bouton de validation */
.button {
  padding: 20px;
  border-radius: 10px;
  border: none;
  color: var(--white);
  background-color: var(--darkGrey);
  margin-top: 15px;
  font-size: var(--fontSize);
}

button:hover {
  cursor: pointer;
  background-color: var(--tomato);
  color: var(--white);
}

.textInput {
  display: grid;
  justify-content: space-between;
  align-content: center;
}

.errorEvent {
  display: flex;
  margin-top: 30px;
  color: var(--tomato);
  position: fixed;
  right: 530px;
  justify-self: flex-end;
}

.card-right {
  z-index: 200;
}

.thanksMessage {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  width: 350px;
  padding: 50px;
  border-radius: 35px;
  position: absolute;
  top: 1000px;
}

.svg {
  display: flex;
  align-self: flex-start;
  margin-bottom: 20px;
}

.buttonSucess {
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  border: none;
  color: var(--white);
  background-color: var(--darkGrey);
  margin-top: 15px;
  font-size: var(--fontSize);
}

.buttonSucess :hover{
  cursor: pointer;
  background-color: var(--tomato);
  color: var(--white);
}

.userEmail {
  display: inline;
}

::-webkit-scrollbar {
  display: none;
}

.successTitle {
  font-size: 3.5em;
  color: var(--darkGrey);
  margin: 0%;
}

